{% extends "partials/base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Calls for {{ caller_number }}{% endblock title %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                       
                       
                        <div class="card-header border-0 align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Dashboard</h4>
                            <div class="d-flex gap-1">
                                <button type="button" class="btn btn-soft-secondary btn-sm">
                                    ALL
                                </button>
                                <button type="button" class="btn btn-soft-secondary btn-sm">
                                    1M
                                </button>
                                <button type="button" class="btn btn-soft-secondary btn-sm">
                                    6M
                                </button>
                                <button type="button" class="btn btn-soft-primary btn-sm">
                                    1Y
                                </button>
                            </div>
                        </div>
                        <div class="card-header border-0 align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Calls for {{ caller_number }}</h4>
                            <div class="d-flex gap-4">
                                <div class="text-end">
                                    <h4 class="mb-0 text-success">6,250</h4>
                                    <p class="text-muted mb-0">Purchase</p>
                                </div>
                                <div class="text-end">
                                    <h4 class="mb-0 text-info">$55,250</h4>
                                    <p class="text-muted mb-0">Purchase</p>
                                </div>
                                <div class="text-end">
                                    <h4 class="mb-0 text-danger">$451.60M</h4>
                                    <p class="text-muted mb-0">Purchase</p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="card-body">
                           
                            <div id="caller-calls-table_wrapper" class="dataTables_wrapper dt-bootstrap5">
                                <!-- Search and per page selection -->
                               <div class="row align-items-end mb-3">
                                    <div class="col-md-2 col-sm-6 mb-2 mb-md-0">
                                        <form method="GET" action="{% url 'cdr3cx:caller_calls' caller_number %}" class="d-flex align-items-center">
                                            <label class="me-2">Show</label>
                                            <select name="per_page" aria-controls="caller-calls-table" class="form-select form-select-sm" onchange="this.form.submit()">
                                                <option value="10" {% if request.GET.per_page == '10' %}selected{% endif %}>10</option>
                                                <option value="25" {% if request.GET.per_page == '25' %}selected{% endif %}>25</option>
                                                <option value="50" {% if request.GET.per_page == '50' %}selected{% endif %}>50</option>
                                                <option value="100" {% if request.GET.per_page == '100' %}selected{% endif %}>100</option>
                                            </select>
                                            <span class="ms-2">entries</span>
                                        </form>
                                    </div>
                                    <div class="col-md-2 col-sm-6 mb-2 mb-md-0">
                                        <form method="GET" action="{% url 'cdr3cx:caller_calls' caller_number %}" class="d-flex align-items-center">
                                            <label class="me-2">Search:</label>
                                            <input type="search" name="search" class="form-control form-control-sm" placeholder="" aria-controls="caller-calls-table" value="{{ request.GET.search }}" oninput="this.form.submit()">
                                            <input type="hidden" name="per_page" value="{{ request.GET.per_page }}">
                                        </form>
                                    </div>
                                    <div class="col-md-3 col-sm-6 mb-2 mb-md-0">
                                        <input type="text" class="form-control flatpickr-input" id="datepicker-range" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" placeholder="Select date" readonly="readonly">
                                    </div>
                                    <div class="col-md-3 col-sm-6 mb-2 mb-md-0">
                                        <select class="form-select choices__input" data-plugin="choices" data-choices="" data-choices-search-false="" name="choices-single-default" id="idStatus">
                                            <option value="Active">Active</option>
                                            <option value="all">All</option>
                                            <option value="Block">Block</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <button type="button" class="btn btn-primary w-100" onclick="SearchData();"> <i class="ri-equalizer-fill me-2 align-bottom"></i>Filters</button>
                                    </div>
                                </div>
                                
                                <!-- Table -->
                                <table id="caller-calls-table" class="table table-bordered dt-responsive nowrap table-striped align-middle">
                                    <thead>
                                        <tr>
                                            <th>Call Time</th>
                                            <th>Callee</th>
                                            <th>Duration</th>
                                            <th>Call Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for call in page_obj %}
                                        <tr>
                                            <td>{{ call.call_time|date:"d M, Y H:i:s" }}</td>
                                            <td>{{ call.callee }}</td>
                                            <td>{{ call.duration|format_duration }}</td>
                                            <td>{{ call.to_type }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                                <!-- Pagination -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="caller-calls-table_info" role="status" aria-live="polite">
                                            Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="caller-calls-table_paginate">
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                <li class="paginate_button page-item previous">
                                                    <a href="?page=1&per_page={{ request.GET.per_page }}&search={{ request.GET.search }}" class="page-link">First</a>
                                                </li>
                                                <li class="paginate_button page-item previous">
                                                    <a href="?page={{ page_obj.previous_page_number }}&per_page={{ request.GET.per_page }}&search={{ request.GET.search }}" class="page-link">Previous</a>
                                                </li>
                                                {% endif %}
                                                
                                                {% for num in page_obj.paginator.page_range %}
                                                {% if page_obj.number == num %}
                                                <li class="paginate_button page-item active">
                                                    <a href="?page={{ num }}&per_page={{ request.GET.per_page }}&search={{ request.GET.search }}" class="page-link">{{ num }}</a>
                                                </li>
                                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                <li class="paginate_button page-item">
                                                    <a href="?page={{ num }}&per_page={{ request.GET.per_page }}&search={{ request.GET.search }}" class="page-link">{{ num }}</a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                                
                                                {% if page_obj.has_next %}
                                                <li class="paginate_button page-item next">
                                                    <a href="?page={{ page_obj.next_page_number }}&per_page={{ request.GET.per_page }}&search={{ request.GET.search }}" class="page-link">Next</a>
                                                </li>
                                                <li class="paginate_button page-item next">
                                                    <a href="?page={{ page_obj.paginator.num_pages }}&per_page={{ request.GET.per_page }}&search={{ request.GET.search }}" class="page-link">Last</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}